name: Build & Push Docker (GHCR)

on:
  push:
    branches: [ "main" ]
    tags: [ "v*" ]
  pull_request:

permissions:
  contents: read
  packages: write

#! ENVIROMENT VARIABLE .. FOR WHAT?
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository_owner }}/pico-docker

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    steps:
      - name: 
        uses: actions/checkout@v4 

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Set up Docker BuildX
        uses: docker/setup-buildx-action@v3

      - name: Login to ghcr
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.PKG_TOKEN }}
      
      - name: Docker metadata (tags/labels)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=tag
            type=sha
            type=raw,value=latest,enable={{is_default_branch}}
          # type=ref,event=tag : only when git tag
          # type=sha : every time
          # type=raw,value=latest,enable={{is_default_branch}} : in main, labled as latest .. .

      - name: Build (and push only on non-PR)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./docker/Dockerfile
          platforms: linux/amd64, linux/arm64
          # Build the image every time, but only upload it if this is real code (not a Pull Request)
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha # read from the cache
          cache-to: type=gha,mode=max # write to the cache
          